/* body {
    overflow: hidden;
    margin: 0%;
} */
#Main {
    width: 800px;
    height: 450px;
}
main {
    align-items: center;
    justify-content: center;
    text-align: center;
}
#head {
    padding: 30px;
    background-color: rgb(255, 0, 212);
}
#logo {
    align-self: flex-start;
    width: max-content;
    height: 50px;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(255, 0, 0, 0.784);
}

#container {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid #ffffff;
}

#header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #10b8eb;
}

#header img {
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #000;
    transition: transform 2s ease-in-out;
}

#header img:hover{
    transition: 1.40s;
    transform: scale(4);
}

#header h1 {
    padding-top: 30px;
    color: #fff;
}
#content {
    background-color: #ADD9F4;
    color: #000;
    padding: 50px;
}

#content h2 {
    text-align: center;
}

#content #intro {
padding-top: 20px;
}
#content #overig {
padding-top: 20px;
}
#content #kennis {
padding-top: 20px;
}
#content #kennis ul {
    padding-left: 15px;
}
#experimental {
    background-color: #476C9B;
    height: 500px;
    padding: 50px;
}
#experimental h2 {
    text-align: center;
}
#footer {
    background-color: #101419;
    height: 100px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
#footer ul {
    display: block;
    padding-top: 10px;
}
#footer ul li {
    display: inline-block;
}

#footer ul li a {
    padding: 10px;
}
#footer ul li a img {
    width: 40px;
    height: auto;
}